/* --------------------------
  Variables
--------------------------- */

// Text
$base__font-size: 16px;

// Descriptive Base Colors
$white: #fff;
$black: #0b0b0b;
$sinbad : #9AD4D6;
$paradiso : #3B8E91;
$casal: #296265;

// color Usage
$color-primary: $sinbad;
$color-secondary: $paradiso;

// Breakpoints
$breakpoints: (
  'xm': 320px,
  'sm': 576px,
  'med': 768px,
  'lg': 992px,
  'xl': 1200px,
);
